# Ignore build and log directories
build/
log/
install/

# Ignore everything in src except ovis_* and kinova_*
src/*
!src/ovis_*
!src/kinova_*
!src/.kinova_*

# Ignore Python bytecodes
__pycache__/
*.pyc

# Ignore temp files
*.tmp
*.temp

# Ignore files related to your dev environment
.vscode/
