<?xml version="1.0"?>

<robot name="ovis" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:include filename="$(find ovis_description)/urdf/ovis2/gazebo.urdf.xacro" />
    <xacro:include filename="$(find ovis_description)/urdf/ovis2/ovis.urdf.xacro" />
    <xacro:include filename="$(find ovis_description)/urdf/ovis2/ovis_common.xacro" />


    <link name="ovis_base_link" />

    <xacro:property name="robot_root" value="ovis_base_link" />


    <xacro:ovis base_parent="${robot_root}" />

</robot>