name: ROS2 ovis build
run-name: ${{ github.actor }} is working on ROS2 ovis build
on: [pull_request]
jobs:
  Build_ovis:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Build docker compose
      run: |
        docker compose build --build-arg USER_UID=$(id -u) --build-arg USER_GID=$(id -g)
    - name: Build ovis_ros2
      run: |
        docker compose run devcontainer bash -c "colcon build --symlink-install"
      
    - name: Test roboguard
      run: |
        docker compose run devcontainer bash -c "colcon test --packages-ignore micro_ros_setup"

